@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: white;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem 2rem;
}

.logo {
  font-size: 2rem;
  color: #ff0000;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  text-decoration: none;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.5rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: #ff0000;
  filter: drop-shadow(red 0px 2px 9px);
  transform: scale(0.9);
}

.menu-toggle {
  display: none;
  background: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 995px) {
  .menu-toggle {
    display: block;
    z-index: 9999;
  }

  nav {
    position: absolute;
    display: none;
    top: 5rem;
    right: 0;
    width: 50%;
    padding: 2rem;
    background: rgba(2, 0, 0, 0.3);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
  }

  nav.active {
    display: block;
    z-index: 9999;
  }

  nav a {
    display: block;
    font-size: 1.5rem;
    margin: 2rem 0;
    background: none;
    margin-right: 30px;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
  }
}

@media (min-width: 996px) {
  .menu-toggle {
    display: none;
    z-index: 9999;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: static;
    width: auto;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  nav a {
    margin-left: 2rem;
    display: inline-block;
  }
}
/* Home */
.home {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
  display: flex;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 8rem;
}

.home .home-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: whitesmoke;
}

span {
  color: #ff0000;
}

.home-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: whitesmoke;
}

.home-content p {
  font-size: 1.2rem;
  color: whitesmoke;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  filter: drop-shadow(0 0 25px #ff0000a0);
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}

.btn {
  display:flex;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #b74b4b;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale3d(1.03);
  background-color: #b74b4b;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 25px #b74b4b;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "software Developer";
  color: #ff0000;
  animation: words 12s infinite;
  filter: drop-shadow(red 0px 12px 30px);
}

.typing-text span::after {
  content: "";
  background-color: black;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid #ff0000;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Developer";
  }
  41%,
  60% {
    content: "Web Designer";
  }
  61%,
  80% {
    content: "Youtuber";
  }
  81%,
  100% {
    content: "Script Writer";
  }
}

@media (max-width: 990px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 650px) {
  .home {
    flex-direction: column;
  }

  .home .home-content h3 {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 0.01rem;
  }
}

@media only screen and (max-width: 600px) and (min-device-width: 320px) and (max-device-width: 800px) and (orientation: portrait) {
  .home {
    flex-direction: column;
  }

  .home .home-content h3 {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 0.1rem;
  }
}

/* TECH SKILLS  */
.Tech_header {
  text-align: center;
}

.Tech_header {
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.Tech_header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #eb4a4a;
  border-radius: 2px;
}

.Tcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 35px;
}

.skill-box:hover .tech_img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #eb4a4a;
  transition: 0.5s;
}

.skill-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #eb4a4a;
  transition: 0.5s;
}

.tech_img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.tech_img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skill-title h3 {
  color: #fff;
  margin-top: 0.5rem;
}

.skill-icon {
  width: 50px;
  height: 50px;
  z-index: 2;
}

@media screen and (max-width: 990px) {
  .Tcontainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 650px) {
  .Tcontainer {
    grid-template-columns: 1fr;
  }
}

.contact {
  background-color: #0b0000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}
.contact-text {
  margin-left: 30px;
}
.contact-text h4 {
  margin: 15px 0px;
  color: orangered;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2 {
  font-size: 40px;
}
.contact-text p {
  color: ghostwhite;
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li a {
  display: block;
  color: aliceblue;
  font-size: var(--p-font);
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: whitesmoke;
}
.contact-icons i {
  height: 40px;
  width: 40px;
  background: #12141c;
  border-radius: 0.5rem;
  color: red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 100px;
  transition: all 0.4s ease;
}
.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  color: orangered;
  background: black;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: 3px;
  left: 20%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #212121;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* Contact Us Modal */
/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
