@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: white;
}
/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem 2rem;
}

.logo {
  font-size: 2rem;
  color: #ff0000;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  text-decoration: none;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.5rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  text-decoration: none;
}

nav a:hover,
nav a.active {
  color: #ff0000;
  filter: drop-shadow(red 0px 2px 9px);
  transform: scale(0.9);
}

.menu-toggle {
  display: none;
  background: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 995px) {
  .menu-toggle {
    display: block;
    z-index: 9999;
  }

  nav {
    position: absolute;
    display: none;
    top: 5rem;
    right: 0;
    width: 50%;
    padding: 2rem;
    background: rgba(2, 0, 0, 0.3);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
  }

  nav.active {
    display: block;
    z-index: 9999;
  }

  nav a {
    display: block;
    font-size: 1.5rem;
    margin: 2rem 0;
    background: none;
    margin-right: 30px;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
  }
}

@media (min-width: 996px) {
  .menu-toggle {
    display: none;
    z-index: 9999;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: static;
    width: auto;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  nav a {
    margin-left: 2rem;
    display: inline-block;
  }
}
/* Home */
.home {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
  display: flex;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 8rem;
}

.home .home-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: whitesmoke;
}

span {
  color: #ff0000;
}

.home-content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: whitesmoke;
}

.home-content p {
  font-size: 1.2rem;
  color: whitesmoke;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
  border: #ff0000 solid 2px;
  filter: drop-shadow(#ff0000 0 0 15px);
}

#contactBtn {
  display: flex;
  padding: 1rem 2.5rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 0.3rem;
  font-weight: bolder;
  border: 2px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
}

#contactBtn:hover {
  transform: scale3d(1.03);
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  filter: drop-shadow(red 0 0 5px);
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  content: "software Developer";
  color: #ff0000;
  animation: words 12s infinite;
  filter: drop-shadow(red 0px 12px 30px);
}

.typing-text span::after {
  content: "";
  background-color: black;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid #ff0000;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Developer";
  }
  41%,
  60% {
    content: "Web Designer";
  }
  61%,
  80% {
    content: "Youtuber";
  }
  81%,
  100% {
    content: "Script Writer";
  }
}

@media (max-width: 990px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 650px) {
  .home {
    flex-direction: column;
  }

  .home .home-content h3 {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 0.01rem;
  }
}

@media only screen and (max-width: 600px) and (min-device-width: 320px) and (max-device-width: 800px) and (orientation: portrait) {
  .home {
    flex-direction: column;
  }

  .home .home-content h3 {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 0.1rem;
  }
}

/* TECH SKILLS  */
.Tech_header {
  text-align: center;
  margin-top: -20px;
}

.Tech_header {
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.Tech_header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #eb4a4a;
  border-radius: 2px;
}

.Tcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover > .skill-title:after,
.skill-box:hover > .skill-title:before {
  width: 35px;
}

.skill-box:hover .tech_img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #eb4a4a;
  transition: 0.5s;
}

.skill-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #eb4a4a;
  transition: 0.5s;
}

.tech_img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.tech_img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skill-title h3 {
  color: #fff;
  margin-top: 0.5rem;
}

.skill-icon {
  width: 50px;
  height: 50px;
  z-index: 2;
}

@media screen and (max-width: 995px) {
  .Tcontainer {
    grid-template-columns: 2fr;
    padding: 2rem 50px;
  }
}

@media screen and (max-width: 750px) {
  .Tcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contact {
  background-color: #0b0000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}
.contact-text {
  margin-left: 30px;
}
.contact-text h4 {
  margin: 15px 0px;
  color: orangered;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2 {
  font-size: 40px;
}
.contact-text p {
  color: ghostwhite;
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list li a {
  display: block;
  color: aliceblue;
  font-size: var(--p-font);
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: whitesmoke;
}
.contact-icons i {
  height: 40px;
  width: 40px;
  background: #12141c;
  border-radius: 0.5rem;
  color: red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-left: 100px;
  transition: all 0.4s ease;
}
.contact-icons i:hover {
  transform: scale(1.01) translateY(-5px);
  color: orangered;
  background: black;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: 3px;
  left: 20%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #212121;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* Contact Us Modal */
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000; /* Adjusted z-index for better stacking context */
  left: 0;
  top: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allow scrolling if content overflows */
}
#content-modal {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  color: #12141c;
}

#name,
#email,
#message {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid #0b0000;
  border-radius: 100px;
  box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

.modal-content {
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  max-width: 500px; /* Ensures it doesn't grow too wide */
}
label {
  display: block;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  filter: drop-shadow(rgb(255, 255, 255) 0 0 2px);
}
#submit {
  background-color: rgb(13, 255, 0);
  font-weight: 600;
  color: black;
  width: 20%;
  margin: 0 37%;
  border: 2px rgb(3, 255, 78) solid;
  border-radius: 100px;
}
#submit:hover {
  background-color: rgb(0, 255, 0);
  filter: drop-shadow(rgb(157, 255, 0) 0 0 5px);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Loader */
#loader{
  background: rgba(0,0,0,0.7);
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px); 
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(650px);
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 1000px;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.3s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.3s linear infinite;
}

.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
}

.star:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: 0.7;
}

.star:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: 0.9;
}

.star-position1 {
  top: 30px;
  left: 20px;
}

.star-position2 {
  top: 110px;
  left: 250px;
}

.star-position3 {
  top: 60px;
  left: 570px;
}

.star-position4 {
  top: 120px;
  left: 900px;
}

.star-position5 {
  top: 20px;
  left: 1120px;
}

.star-position6 {
  top: 90px;
  left: 1280px;
}

.star-position7 {
  top: 30px;
  left: 1480px;
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #1e0303;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(
    left,
    #464545 0%,
    #000000 50%,
    #000000 50%,
    #464545 100% 
  );
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(
    top,
    #575555 0%,
    #ffffff 50%,
    #ffffff 50%,
    #666565 100%
  ); 
  border-radius: 25px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #ff0000;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #ff0000;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #000000;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(
    left,
    #464545 0%,
    #000000 50%,
    #000000 50%,
    #464545 100%
  );
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #ff0000;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #000000;
  box-shadow: 0px 9px 0px #000000, 0px 18px 0px #000000;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #000000;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #000000;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #303131;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #303131;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #303131;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #303131;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #ff0000;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #ff0000;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #303131;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #303131;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #303131;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #ff0000;
}

.leg-right:before {
  right: -20px;
  background-color: #303131;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #ff0000;
}
